# Binaries for programs and plugins
supportability-service
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store
*__debug_bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Coverage files
cover.html
coverage.html

# Certificate files
certs/*.crt
certs/*.key

# IDEs
.vscode/dryrun.log 
.vscode/targets.log 
.vscode/configurationCache.log
.idea/